.presentation-block {
  display: flex;
}

.presentation-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
}

.presentation-title {
  font-size: 2.5rem;
}
.presentation-content {
  padding: 20px;
  font-size: 1.3rem;
}

.presentation-img {
  width: 50%;
  object-fit: cover;
}

